@model IEnumerable<TestProject.Models.Page>

<div id="chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<p style="text-align:right">Max: @ViewBag.max | Min: @ViewBag.min</p>

<script src="https://code.highcharts.com/highcharts.js"></script>
<table class="table">
    <thead>
        <tr>
            <th id="uid" data-id-wa="@ViewBag.id">
                @Html.DisplayNameFor(model => model.Sitemap.WebAddress.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponseTime)
            </th>
        </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>


<script src="/lib/jquery/dist/jquery.js"></script>
		<script type="text/javascript">
        $.ajax({
            type: "GET",
            url: "/Page/GetChartParams",
            data: {id:$("#uid").data("id-wa")},
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            success: function(response) { 
                
                    var data = JSON.parse(response);
                    var links = data.links;
                    var values = data.values;
                
                console.log();
                Highcharts.chart('chart', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Response Time'
                    },
                    xAxis: {  
                        categories:links,
                        labels:{
                            enabled:false
                        }                 
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'ms'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.1f} ms</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: "Speed",
                        data: values
                    }]
                });

            }
        })
        var toTake = 400;
        var pagesData = {
            startFrom: 0,
            numToTake: toTake
        }

        function onSuccess()
        {
            
            $.ajax({
                type: "GET",
                url: "/Page/GetPagesWithAjax/" + $("#uid").data("id-wa"),
                data: pagesData,
                success: function(res) { 
                    if(res != "Finish")
                    {
                        $("tbody").append(res);
                        pagesData.startFrom += toTake;
                        onSuccess();
                    }
                }
            })
        }
        onSuccess();
		</script>
