@model IEnumerable<TestProject.Models.Page>

@{
    ViewData["Title"] = "Index";
}

<div id="chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<p style="text-align:right">Max: @ViewBag.max | Min: @ViewBag.min</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sitemap.WebAddress.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponseTime)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td id="#uid" data-id-wa="@item.Sitemap.UId" >
                @Html.DisplayFor(modelItem => item.Sitemap.WebAddress.Url)@Html.DisplayFor(modelItem => item.PageLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponseTime)
            </td>
            
        </tr>
}
    </tbody>
</table>

<script src="https://code.highcharts.com/highcharts.js"></script>



<script src="/lib/jquery/dist/jquery.js"></script>
		<script type="text/javascript">
        $.ajax({
            type: "GET",
            url: "/Page/GetChartParams",
            data: {id:$("#uid").data("id-wa")},
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            success: function(response) { 
                
                    var data = JSON.parse(response);
                    var links = data.links;
                    var values = data.values;
                
                console.log();
                Highcharts.chart('chart', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Response Time'
                    },
                    xAxis: {  
                        categories:links,
                        labels:{
                            enabled:false
                        }                 
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'ms'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: "URL",
                        data: values
                    }]
                });

            }
        })
		</script>
